{% extends 'orgBase.html' %}
{% load staticfiles %}
{% block title %} OrgTeacher {% endblock %}
{% block customerPageName %} OrgTeacher {% endblock %}
{% block customContent %}
    <div class="right companycenter layout">
        <div class="head">
            <h1>Teachers</h1>
            <a class="green fr more" href="{% url 'org:orgTeacher' courseOrg.name%}">more > </a>
        </div>
        {% for teacher in allTeachers %}
            <div class="diarys">
                <div class="module5 share company-diary-box" style="padding:10px 0;">
                    <div class="left">
                        <img class="pic" src="{{ MEDIA_URL }}{{ teacher.photo }}"/>
                        <p>Nickname：{{ teacher.name }}</p>
                    </div>
                    <div class="right">
                        <div class="top">
                            <div class="fl">
                                <a href=""><h1>java开发教程</h1></a>
                                <span>发表于：2015-10-12</span>
                            </div>
                        </div>
                        <div class="middle" style="border-bottom:0;">课程介绍</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
